<!-- Navbar start -->
<div class="nav-bar  header-transparent ">
    <div class="container-fluid z rounded-4 fixed-top">
        <nav class="navbar navbar-dark navbar-expand-lg py-4">           
            <a href="{% url 'index' %}" class="logo">
                <img src="static/img/buniwalogo.jpg" style="height: 50px; width: 50px; border-radius: 50%;">
                
              </a>
              <h3 class="text-primary fw-bold mb-0">Buni<span class="text-dark">wa</span> </h3>
              
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                        <div class="dropdown-menu bg-light">
                            <a href="book.html" class="dropdown-item">About Us</a>
                            <a href="blog.html" class="dropdown-item">Mission</a>
                            <a href="team.html" class="dropdown-item">Vision</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">Our Team</a>
                        </div>
                    </div>
                    <a href="service.html" class="nav-item nav-link">Services</a>
                    <a href="event.html" class="nav-item nav-link">Portfolio</a>
                    
                    <a href="about.html" class="nav-item nav-link">Customer Portal</a>
                    <a href="contact.html" class="nav-item nav-link">Careers</a>
                    <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                </div>
                
                <a href="" class="btn btn-primary py-2 px-4 d-none d-xl-inline-block rounded-pill">Book Now</a>
            </div>
        </nav>
    </div>

    <div class="container-fluid bg-light py-6 my-6 mt-0 vh-100">
        <!-- style="background: url('static/img/backg.jpg'); background-position:center; background-size:cover; opacity:0.9;" -->
        <div class="container pt-2">
            <div class="row g-5 align-items-center pt-2">
                <div class="col-lg-5 col-md-12">
                    <!-- <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-4 animated bounceInDown">Welcome to CaterServ</small> -->
                    <h3 class="display-6 mb-4 animated bounceInDown">Achieve <span class="text-primary">Online</span> dominance</h3>
                    <a href="" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Book Now</a>
                    <a href="" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft">Know More</a>
                </div>
                <div class="col-lg-7 col-md-12">
                    <img src="static/img/bac.jpg" class="img-fluid rounded animated zoomIn" alt="buniwa">
                </div>
            </div>
        </div>
    </div>
    
</div>


<!-- Navbar End -->